<div id="header">
      <h1>2019년 여름 여행 사진첩</h1>
      <ul class="gallery-nav">
        <li><%= link_to '중국', '1' %></li>
        <li><%= link_to '스페인', '2' %></li>
        <li><%= link_to '모로코', '3' %></li>
        <li><%= link_to '포르투갈', '4' %></li>
      </ul>
      <%= link_to '메인으로', {controller: :welcome, action: :index} %>
</div>